<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="view" content="Our first page">
    <meta http-equiv="refresh" content="300">
    <title>Register Form</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_create_prop5.css' %}">
</head>
<body>
    {% if this_user.position == 'student' %}
        <div class = wrapper>
            <div class = header>
                <p class = header_elements>Menu</p>
                <p class = header_elements>|</p>
                <p class = header_elements><a href='/student/'>Cody says!</a></p>
                <p class = header_elements>|</p>
                <p class = header_elements>Hello, {{this_user.position}} {{this_user.first_name}}!</p>
                <p class = header_el_proposal> <a href='/student/all_proposals'>PROPOSALS</a></p>
                <p class = header_elements>|</p>
                <p class = header_elements><a href='/student/all_reviews'>REVIEWS</a></p>
                <p class = header_elements>|</p>
                <p class = header_elements><a href='/student/manage'>MANAGE</a></p>
                <p class = header_elements>|</p>
                <p class = header_elements><a href='/student/todo'>TO DO</a></p>
                <p class = header_elements>|</p>
                <p class = header_elements><a href='/student/projects'>PROJECTS</a></p>
                <p class = header_elements>|</p>
                <p class = header_elements><a href='/student/log_out'>Log out</a></p>
            </div>
            <p class = header_elements><a href='/student/help'>?</a></p>
            <h3 class = hello><a href='/student/new_create_proposal_page'>New creation page</a></h3>

            <h3 class = hello>Create a New Proposal!</h3>
            <h3 class = hello>Create a <a href='/student/create_wireframe'>Wireframe</a>!</h3>

            <div class = home_page_blocks1>
                {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
                {% endif %}
                <form action="create_proposal" method="POST">
                    {% csrf_token %}
                    <h3>Fill Section 1.</h3>
                    <p><label for = 'html_stack'>Choose stack:</label>
                        <select id="select2" name = 'html_stack'> 
                            <option value="Python">Python</option> 
                            <option value="C#">C#</option> 
                            <option value="Mean">Mean</option> 
                        </select> 
                    </p>
                    <p><label for = 'html_pr_name'>Name of App:</label>
                    <input class = "html_pr_name'" type = "text"  name = 'html_pr_name'></p>
                    <p><label for = 'html_aud'>Target audience:</label>
                    <input class = "html_aud" type = "text"  name = 'html_aud'></p>
                    <p><label for = 'html_brief'>Brief:</label>
                    <textarea rows = "10" cols = "60" name = 'html_brief'></textarea></p>
                    <p><button>Submit</button>See new proposal below this sections</p>
                    
                    

                </form>
            </div>
            <div class = home_page_blocks>
                <h3>Instructions</h3>
                <h3>Section 1. Summary</h3>
                <p class = "instructions">A brief 200-500 word description of what your project is all about. Include the following
                    information:
                    <p class = "instructions">● What will your application be called? If you don’t have a good name, come up with a
                    working name.</p>
                    <p class = "instructions">● Who is your application for? Who is the target audience and how will it help them?</p>
                    <p class = "instructions">● What are the 3 main features of your application? There may be more than 3 features,
                    but describe the 3 most important ones.</p>
                </p>
                <h3>Section 2. Feature List</h3>
                <h3>Section 3.Technical Considerations</h3>
                <h3>Section 4.</h3>
                <h3>Section 5.</h3>

            </div>
            <div class = home_page_blocks1>
                {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
                {% endif %}
                <h3>Fill Section 2.</h3>
                <form action="create_wireframe" method="POST"> 
                    {% csrf_token %}
                    <p>Let's download Wireframes!</p>
                    <p><label for = 'html_wirefr'>Images for wireframes:</label>
                    <input class = "html_wirefr" type = "file"  name = 'html_wirefr'></p>
                    <p><button>Submit</button>See new proposal below this sections</p>
                </form>
            </div>
            <div class = home_page_blocks>
                <h3>Instructions:</h3>
                <p class = "instructions">A brief 200-500 word description of what your project is all about. Include the following
                    information:
                    <p class = "instructions">● What will your application be called? If you don’t have a good name, come up with a
                    working name.</p>
                    <p class = "instructions">● Who is your application for? Who is the target audience and how will it help them?</p>
                    <p class = "instructions">● What are the 3 main features of your application? There may be more than 3 features,
                    but describe the 3 most important ones.</p>
                </p>
            </div>
            <div class = home_page_blocks1>
                {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
                {% endif %}
                <h3>Fill Section 3a.</h3>
                <form action="create_feature" method="POST"> 
                    {% csrf_token %}
                    <p>Let's create Features for your App!</p>
                    <p><label for = 'html_priority'>Choose Proposal:</label>
                        <select id="select2" name = 'html_proposal'> 
                            {% for proposal in creator_proposals %}
                                <option value="{{proposal.project_name}}">{{proposal.project_name}}</option> 
                            {% endfor %}
                        </select> 
                    </p>
                    <p><label for = 'html_feature'>Add a new feature:</label>
                    <input class = "html_feature" type = "text"  name = 'html_feature'></p>
                    <p><label for = 'html_priority'>Choose priority:</label>
                        <select id="select2" name = 'html_priority'> 
                            <option value="P0">P0</option> 
                            <option value="P1">P1</option> 
                            <option value="P2">P2</option> 
                            <option value="P3">P3</option> 
                        </select> 
                    </p>
                    <p><button>Submit</button>See new proposal below this sections</p>
                </form>
            </div>
            <div class = home_page_blocks>
                <h3>Instructions:</h3>
                <p class = "instructions">A brief 200-500 word description of what your project is all about. Include the following
                    information:
                    <p class = "instructions">● What will your application be called? If you don’t have a good name, come up with a
                    working name.</p>
                    <p class = "instructions">● Who is your application for? Who is the target audience and how will it help them?</p>
                    <p class = "instructions">● What are the 3 main features of your application? There may be more than 3 features,
                    but describe the 3 most important ones.</p>
                </p>
            </div>
            <div class = home_page_blocks1>
                {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
                {% endif %}
                <h3>Fill Section 3b.</h3>
                <form action="create_feature" method="POST"> 
                    {% csrf_token %}
                    <p>Let's give priority to a Feature for your App!</p>


                </form>
            </div>
            <div class = home_page_blocks>
                <h3>Instructions:</h3>
                <p class = "instructions">A brief 200-500 word description of what your project is all about. Include the following
                    information:
                    <p class = "instructions">● What will your application be called? If you don’t have a good name, come up with a
                    working name.</p>
                    <p class = "instructions">● Who is your application for? Who is the target audience and how will it help them?</p>
                    <p class = "instructions">● What are the 3 main features of your application? There may be more than 3 features,
                    but describe the 3 most important ones.</p>
                </p>
            </div>
            <div class = home_page_blocks1>
                {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
                {% endif %}
                <h3>Fill Section 4.</h3>
                {% if proposal %}
                    <form action="update_s4_proposal/{{proposal.id}}" method="POST">
                        {% csrf_token %}
                        <p><label for = 'html_stack_comp'>Stack components:</label>
                        <input class = "html_stack_comp" type = "text"  name = 'html_stack_comp'></p>
                        <p><label for = 'html_datab'>Database:</label>
                        <input class = "html_datab" type = "text"  name = 'html_datab'></p>
                        <p><label for = 'html_api'>API:</label>
                        <input class = "html_api" type = "text"  name = 'html_api'></p>
                        <p><label for = 'html_server'>Server hosting:</label>
                        <input class = "html_server" type = "text"  name = 'html_server'></p>
                        <p><label for = 'html_other_tech'>Other technologies:</label>
                        <input class = "html_other_tech" type = "text"  name = 'html_other_tech'></p>
                        <button>Submit</button>
                    </form>
                {% endif %}
            </div>
            <div class = home_page_blocks>
                <h3>Instructions:</h3>
                <p class = "instructions">A brief 200-500 word description of what your project is all about. Include the following
                    information:
                    <p class = "instructions">● What will your application be called? If you don’t have a good name, come up with a
                    working name.</p>
                    <p class = "instructions">● Who is your application for? Who is the target audience and how will it help them?</p>
                    <p class = "instructions">● What are the 3 main features of your application? There may be more than 3 features,
                    but describe the 3 most important ones.</p>
                </p>
            </div>
            <div class = home_page_blocks1>
                {% if messages %}
                <ul class="messages">    
                    {% for message in messages %}    
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                    {% endfor %}
                </ul>
                {% endif %}
                <h3>Fill Section 5.</h3>
                {% if proposal %}
                    <form action="update_s5_proposal/{{proposal.id}}" method="POST">
                        {% csrf_token %}
                        <p> Work Distribution</p>
                        <textarea rows = "10" cols = "60" name = 'html_work_contr'></textarea></p>
    
                        <p><button>Submit</button>See new proposal below this sections</p>
                    </form>
                {% endif %}
            </div>
            <div class = home_page_blocks>
                <h3>Instructions:</h3>
                <p class = "instructions">A brief 200-500 word description of what your project is all about. Include the following
                    information:
                    <p class = "instructions">● What will your application be called? If you don’t have a good name, come up with a
                    working name.</p>
                    <p class = "instructions">● Who is your application for? Who is the target audience and how will it help them?</p>
                    <p class = "instructions">● What are the 3 main features of your application? There may be more than 3 features,
                    but describe the 3 most important ones.</p>
                </p>
            </div>



            


            <h2 id = "new_prop">LAST CREATED PROPOSAL</h2>

            <div class = "proposal">
                <h4> Name of Project: "{{proposal.project_name}}"</h4>
                <p class="propos_text">Stack: {{proposal.stack}}</p>
                <p class="propos_text">Target audience: {{proposal.audience}}</p>
                <h4>Section 1: Summary</h4>
                <p class="propos_text">Brief: {{proposal.brief}}</p>
                <h4>Section 2: Wireframes</h4>
                <h4>Section 3: Feature List</h4>
                {% for features in proposal.features.all %}
                <ul style="list-style-type:disc; list-style-position: inside;" class = ninjas_list name = "ninjas_list">
                    <li>
                        {{features.priority}}: {{features.feat_content}}    <a href='/student/delete/feature/{{ features.id }}'>Delete Feature</a>
                    </li>
                </ul>
                {% endfor %}
                <h4>Section 4: Tecnical Considerations</h4>
                <ul style="list-style-type:disc; list-style-position: inside;" class = ninjas_list name = "ninjas_list">
                    <li>Stack components: {{proposal.stack_comp}}</li>
                    <li> Database: {{proposal.database}}</li>
                    <li> 3rd party APIs: {{proposal.api}}</li>
                    <li> Server hosting: {{proposal.server}}</li>
                    <li> Any other technical complexity: {{proposal.other_tech}}</li>
                </ul>
                <h4>Section 5: Work Distribution</h4>
                <p>{{proposal.work_contrib}}</p>
                <a href='/student/delete/proposal/{{ proposal.id }}'>Delete</a>
            </div>
            <div class = "proposal_down">
                <p>Choose instructor and send this Proposal <a href='/student/details/proposal/{{ proposal.id }}'>here</a>
            </div>
         </div>

    {% endif %}
 
    
</body>
</html>


